.banks {
    padding-top: 85px;
    padding-bottom: 85px;

    &__text {
        font-size: 20px;
        line-height: 160%;
    }

    &__list {
        padding-left: 2rem;
    }

    &__form {
        padding: 40px 69px;
        background-color: #3a383b;
        border-radius: 70px;
        border: 1px solid var(--color-gold);
        max-width: 520px;
        margin-left: auto;
        box-shadow: var(--shadow);

        &-title {
            font-size: 32px;
            margin-bottom: 20px;
        }

        &-text {
            margin-bottom: 40px;
        }

        .custom-form__wrapper {
            margin-bottom: 40px;
        }

        .btn {
            margin-bottom: 25px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        &-text {
            font-size: 20px;
            margin-bottom: 30px;
        }

        &-wrapper {
            margin-top: 65px;
        }
    }

    &__card {
        padding: 0 27px;
        border: 1px solid var(--color-brick);
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 82px;
    }

    @media screen and (max-width: 991px) {
        .banks {

            &__text {
                font-size: 14px;
            }

            &__cards {
                gap: 8px;
                
                &-wrapper {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }

                &-text {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
            }

            &__card {
                padding: 12px 13px;
                border-radius: 8.5px;
                height: 40px;

                 img {
                    width: 100%;
                    height: 100%;
                 }

                 &_type_domrf {
                    padding-top: 9px;
                    padding-bottom: 9px;
                 }
            }

            &__form {
                margin: 0 auto;
                border-radius: 40px;
                padding: 40px 35px;
                max-width: 350px;

                &-title {
                    font-size: 20px;
                }

                &-text {
                    font-size: 14px;
                }

                .custom-checkbox__text {
                    font-size: 10px;
                }
            }
        }
    }
}
