.mainSwiper {
    &__main-swiper {
        top: 30%;
    }

    .background-swiper {
        &__image {
            width: 100%;
            height: 780px;
            object-fit: cover;
        }

        .swiper-slide {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 780px;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 2;
            }
        }
    }

    .main-swiper {
        &__wrapper {
            max-width: 610px;

            .swiper-slide {
                &__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &__title {
                    @include fluid-text(50, 26);

                    font-weight: 500;
                    text-align: center;
                    margin-bottom: 20px;
                    line-height: 100%;
                    height: 270px;
                }
            }
        }
        &__pagination {
            width: fit-content;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media screen and (max-width: 1200px) {
        .mainSwiper {
            .background-swiper {
                .swiper-slide::before {
                    height: 660px;
                }
            }
        }
        .main-swiper {
            &__wrapper {
                max-width: 335px;
                .btn-primary {
                    width: 185px;
                    font-size: 14px;
                }
                .swiper-slide {
                    &__title {
                        height: 140px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 991px) {
        .mainSwiper {
            &__navigation {
                z-index: 2;
                bottom: 40px !important;
                top: auto !important;
            }
        }
    }
}
