.improvement {
    background-color: var(--color-dark-alt);
    background-image: url("../img/svg/bg-pattern.png");
    padding-top: 80px;
    padding-bottom: 90px;

    &__gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Две колонки */
        grid-template-rows: repeat(3, 220px); /* Три строки */
        cursor: url('../img/improvement/zoom-icon.svg') 18 18, auto;

        & a {
            cursor: pointer;
        }

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border: 1px solid green;
            border-image: var(--metall-gradient);
            border-image-slice: 1;
        }
    }

    &__territory {
        background-color: var(--color-dark);
        padding: 50px 0;
        border-radius: 70px;
    }

    &__card {
        max-width: 320px;
        gap: 30px;

        &-img {
            border-radius: 50%;
            border: 1px solid var(--color-gold);
            width: 195px;
            height: 195px;
            object-fit: cover;
        }

        &-text {
            max-width: 100%;
            gap: 16px;

            &-title {
                font-size: 26px;
                font-weight: 500;
                color: var(--color-gold);
            }

            &-description {
                line-height: 150%;
            }
        }
    }
}

.swiper {
    &__improvement {
        &-title {
            font-size: 26px;
            font-weight: 500;
            color: var(--color-gold);
            margin-bottom: 30px;
        }

        &-text {
            font-size: 20px;
            height: 140px;
        }

        &-navigation {
            gap: 20px;
        }
    }

    &__gallery {

    }
}

.zoom-info {
    max-width: 190px;
    display: flex;
    column-gap: 15px;
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 500;
    margin-top: auto;

    &__icon {
        width: 37px;
        height: 37px;
        object-fit: contain;
    }
}

.first-img {
    grid-area: 1 / 1 / 2 / 2;
}

.second-img {
    grid-area: 1 / 2 / 3 / 3;
}

.third-img {
    grid-area: 2 / 1 / 4 / 2;
}

.fourth-img {
    grid-area: 3 / 2 / 4 / 3;
}
